CocktailizrClient/Service References/AdminServiceReference/AdminService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="AdminService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="WSHttpBinding_IAdminService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <sp:HttpsToken RequireClientCertificate="false" />
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
            <sp:IncludeTimestamp />
          </wsp:Policy>
        </sp:TransportBinding>
        <sp:EndorsingSupportingTokens xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:SecureConversationToken sp:IncludeToken="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy/IncludeToken/AlwaysToRecipient">
              <wsp:Policy>
                <sp:BootstrapPolicy>
                  <wsp:Policy>
                    <sp:SignedParts>
                      <sp:Body />
                      <sp:Header Name="To" Namespace="http://www.w3.org/2005/08/addressing" />
                      <sp:Header Name="From" Namespace="http://www.w3.org/2005/08/addressing" />
                      <sp:Header Name="FaultTo" Namespace="http://www.w3.org/2005/08/addressing" />
                      <sp:Header Name="ReplyTo" Namespace="http://www.w3.org/2005/08/addressing" />
                      <sp:Header Name="MessageID" Namespace="http://www.w3.org/2005/08/addressing" />
                      <sp:Header Name="RelatesTo" Namespace="http://www.w3.org/2005/08/addressing" />
                      <sp:Header Name="Action" Namespace="http://www.w3.org/2005/08/addressing" />
                    </sp:SignedParts>
                    <sp:EncryptedParts>
                      <sp:Body />
                    </sp:EncryptedParts>
                    <sp:TransportBinding>
                      <wsp:Policy>
                        <sp:TransportToken>
                          <wsp:Policy>
                            <sp:HttpsToken RequireClientCertificate="false" />
                          </wsp:Policy>
                        </sp:TransportToken>
                        <sp:AlgorithmSuite>
                          <wsp:Policy>
                            <sp:Basic256 />
                          </wsp:Policy>
                        </sp:AlgorithmSuite>
                        <sp:Layout>
                          <wsp:Policy>
                            <sp:Strict />
                          </wsp:Policy>
                        </sp:Layout>
                        <sp:IncludeTimestamp />
                      </wsp:Policy>
                    </sp:TransportBinding>
                    <sp:SignedSupportingTokens>
                      <wsp:Policy>
                        <sp:UsernameToken sp:IncludeToken="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy/IncludeToken/AlwaysToRecipient">
                          <wsp:Policy>
                            <sp:WssUsernameToken10 />
                          </wsp:Policy>
                        </sp:UsernameToken>
                      </wsp:Policy>
                    </sp:SignedSupportingTokens>
                    <sp:Wss11>
                      <wsp:Policy />
                    </sp:Wss11>
                    <sp:Trust10>
                      <wsp:Policy>
                        <sp:MustSupportIssuedTokens />
                        <sp:RequireClientEntropy />
                        <sp:RequireServerEntropy />
                      </wsp:Policy>
                    </sp:Trust10>
                  </wsp:Policy>
                </sp:BootstrapPolicy>
              </wsp:Policy>
            </sp:SecureConversationToken>
          </wsp:Policy>
        </sp:EndorsingSupportingTokens>
        <sp:Wss11 xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy />
        </sp:Wss11>
        <sp:Trust10 xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:MustSupportIssuedTokens />
            <sp:RequireClientEntropy />
            <sp:RequireServerEntropy />
          </wsp:Policy>
        </sp:Trust10>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="https://localhost:44300/Service/Impl/AdminService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="https://localhost:44300/Service/Impl/AdminService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="https://localhost:44300/Service/Impl/AdminService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/CocktailizrTypes.Model.Entities" />
      <xsd:import schemaLocation="https://localhost:44300/Service/Impl/AdminService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/System.Drawing" />
      <xsd:import schemaLocation="https://localhost:44300/Service/Impl/AdminService.svc?xsd=xsd4" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IAdminService_AddCocktail_InputMessage">
    <wsdl:part name="parameters" element="tns:AddCocktail" />
  </wsdl:message>
  <wsdl:message name="IAdminService_AddCocktail_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddCocktailResponse" />
  </wsdl:message>
  <wsdl:message name="IAdminService_ModifyCocktail_InputMessage">
    <wsdl:part name="parameters" element="tns:ModifyCocktail" />
  </wsdl:message>
  <wsdl:message name="IAdminService_ModifyCocktail_OutputMessage">
    <wsdl:part name="parameters" element="tns:ModifyCocktailResponse" />
  </wsdl:message>
  <wsdl:message name="IAdminService_RemoveCocktail_InputMessage">
    <wsdl:part name="parameters" element="tns:RemoveCocktail" />
  </wsdl:message>
  <wsdl:message name="IAdminService_RemoveCocktail_OutputMessage">
    <wsdl:part name="parameters" element="tns:RemoveCocktailResponse" />
  </wsdl:message>
  <wsdl:message name="IAdminService_AddZutat_InputMessage">
    <wsdl:part name="parameters" element="tns:AddZutat" />
  </wsdl:message>
  <wsdl:message name="IAdminService_AddZutat_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddZutatResponse" />
  </wsdl:message>
  <wsdl:message name="IAdminService_ModifyZutat_InputMessage">
    <wsdl:part name="parameters" element="tns:ModifyZutat" />
  </wsdl:message>
  <wsdl:message name="IAdminService_ModifyZutat_OutputMessage">
    <wsdl:part name="parameters" element="tns:ModifyZutatResponse" />
  </wsdl:message>
  <wsdl:message name="IAdminService_RemoveZutat_InputMessage">
    <wsdl:part name="parameters" element="tns:RemoveZutat" />
  </wsdl:message>
  <wsdl:message name="IAdminService_RemoveZutat_OutputMessage">
    <wsdl:part name="parameters" element="tns:RemoveZutatResponse" />
  </wsdl:message>
  <wsdl:portType name="IAdminService">
    <wsdl:operation name="AddCocktail">
      <wsdl:input wsaw:Action="http://tempuri.org/IAdminService/AddCocktail" message="tns:IAdminService_AddCocktail_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAdminService/AddCocktailResponse" message="tns:IAdminService_AddCocktail_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ModifyCocktail">
      <wsdl:input wsaw:Action="http://tempuri.org/IAdminService/ModifyCocktail" message="tns:IAdminService_ModifyCocktail_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAdminService/ModifyCocktailResponse" message="tns:IAdminService_ModifyCocktail_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RemoveCocktail">
      <wsdl:input wsaw:Action="http://tempuri.org/IAdminService/RemoveCocktail" message="tns:IAdminService_RemoveCocktail_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAdminService/RemoveCocktailResponse" message="tns:IAdminService_RemoveCocktail_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddZutat">
      <wsdl:input wsaw:Action="http://tempuri.org/IAdminService/AddZutat" message="tns:IAdminService_AddZutat_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAdminService/AddZutatResponse" message="tns:IAdminService_AddZutat_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ModifyZutat">
      <wsdl:input wsaw:Action="http://tempuri.org/IAdminService/ModifyZutat" message="tns:IAdminService_ModifyZutat_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAdminService/ModifyZutatResponse" message="tns:IAdminService_ModifyZutat_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RemoveZutat">
      <wsdl:input wsaw:Action="http://tempuri.org/IAdminService/RemoveZutat" message="tns:IAdminService_RemoveZutat_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAdminService/RemoveZutatResponse" message="tns:IAdminService_RemoveZutat_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WSHttpBinding_IAdminService" type="tns:IAdminService">
    <wsp:PolicyReference URI="#WSHttpBinding_IAdminService_policy" />
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddCocktail">
      <soap12:operation soapAction="http://tempuri.org/IAdminService/AddCocktail" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ModifyCocktail">
      <soap12:operation soapAction="http://tempuri.org/IAdminService/ModifyCocktail" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoveCocktail">
      <soap12:operation soapAction="http://tempuri.org/IAdminService/RemoveCocktail" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddZutat">
      <soap12:operation soapAction="http://tempuri.org/IAdminService/AddZutat" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ModifyZutat">
      <soap12:operation soapAction="http://tempuri.org/IAdminService/ModifyZutat" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoveZutat">
      <soap12:operation soapAction="http://tempuri.org/IAdminService/RemoveZutat" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AdminService">
    <wsdl:port name="WSHttpBinding_IAdminService" binding="tns:WSHttpBinding_IAdminService">
      <soap12:address location="https://localhost:44300/Service/Impl/AdminService.svc" />
      <wsa10:EndpointReference>
        <wsa10:Address>https://localhost:44300/Service/Impl/AdminService.svc</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>