CocktailizrClient/Service References/AdminServiceReference/AdminService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/CocktailizrTypes.Model.Entities" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/CocktailizrTypes.Model.Entities" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://localhost:44300/Service/Impl/AdminService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/System.Drawing" />
  <xs:import schemaLocation="https://localhost:44300/Service/Impl/AdminService.svc?xsd=xsd4" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="https://localhost:44300/Service/Impl/AdminService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="Cocktail">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:CocktailizrEntityBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="Alcoholic" type="xs:boolean" />
          <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/System.Drawing" minOccurs="0" name="DrinkColor" type="q1:Color" />
          <xs:element minOccurs="0" name="ImageBytes" nillable="true" type="xs:base64Binary" />
          <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Rezept" nillable="true" type="tns:Rezept" />
          <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Tags" nillable="true" type="q2:ArrayOfanyType" />
          <xs:element xmlns:q3="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Zutaten" nillable="true" type="q3:ArrayOfKeyValueOfZutatdecimalKV94ifYk" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Cocktail" nillable="true" type="tns:Cocktail" />
  <xs:complexType name="CocktailizrEntityBase">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="ser:guid" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CocktailizrEntityBase" nillable="true" type="tns:CocktailizrEntityBase" />
  <xs:complexType name="Rezept">
    <xs:sequence>
      <xs:element minOccurs="0" name="ZubereitungsSchritte" nillable="true" type="tns:ArrayOfStep" />
      <xs:element minOccurs="0" name="Zubereitungszeit" type="ser:duration" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Rezept" nillable="true" type="tns:Rezept" />
  <xs:complexType name="ArrayOfStep">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Step" nillable="true" type="tns:Step" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfStep" nillable="true" type="tns:ArrayOfStep" />
  <xs:complexType name="Step">
    <xs:sequence>
      <xs:element minOccurs="0" name="Beschreibung" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Headline" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Step" nillable="true" type="tns:Step" />
  <xs:complexType name="Zutat">
    <xs:sequence>
      <xs:element minOccurs="0" name="IsOptional" type="xs:boolean" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Skala" type="tns:ZutatenSkala" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Zutat" nillable="true" type="tns:Zutat" />
  <xs:simpleType name="ZutatenSkala">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Cl" />
      <xs:enumeration value="Liter" />
      <xs:enumeration value="Stueck" />
      <xs:enumeration value="Gramm" />
      <xs:enumeration value="Priese" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="ZutatenSkala" nillable="true" type="tns:ZutatenSkala" />
</xs:schema>