CocktailizrClient/Service References/CocktailServiceReference/CocktailService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="CocktailService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="WSHttpBinding_ICocktailService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <sp:HttpsToken RequireClientCertificate="false" />
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
            <sp:IncludeTimestamp />
          </wsp:Policy>
        </sp:TransportBinding>
        <sp:EndorsingSupportingTokens xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:SecureConversationToken sp:IncludeToken="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy/IncludeToken/AlwaysToRecipient">
              <wsp:Policy>
                <sp:BootstrapPolicy>
                  <wsp:Policy>
                    <sp:SignedParts>
                      <sp:Body />
                      <sp:Header Name="To" Namespace="http://www.w3.org/2005/08/addressing" />
                      <sp:Header Name="From" Namespace="http://www.w3.org/2005/08/addressing" />
                      <sp:Header Name="FaultTo" Namespace="http://www.w3.org/2005/08/addressing" />
                      <sp:Header Name="ReplyTo" Namespace="http://www.w3.org/2005/08/addressing" />
                      <sp:Header Name="MessageID" Namespace="http://www.w3.org/2005/08/addressing" />
                      <sp:Header Name="RelatesTo" Namespace="http://www.w3.org/2005/08/addressing" />
                      <sp:Header Name="Action" Namespace="http://www.w3.org/2005/08/addressing" />
                    </sp:SignedParts>
                    <sp:EncryptedParts>
                      <sp:Body />
                    </sp:EncryptedParts>
                    <sp:TransportBinding>
                      <wsp:Policy>
                        <sp:TransportToken>
                          <wsp:Policy>
                            <sp:HttpsToken RequireClientCertificate="false" />
                          </wsp:Policy>
                        </sp:TransportToken>
                        <sp:AlgorithmSuite>
                          <wsp:Policy>
                            <sp:Basic256 />
                          </wsp:Policy>
                        </sp:AlgorithmSuite>
                        <sp:Layout>
                          <wsp:Policy>
                            <sp:Strict />
                          </wsp:Policy>
                        </sp:Layout>
                        <sp:IncludeTimestamp />
                      </wsp:Policy>
                    </sp:TransportBinding>
                    <sp:SignedSupportingTokens>
                      <wsp:Policy>
                        <sp:UsernameToken sp:IncludeToken="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy/IncludeToken/AlwaysToRecipient">
                          <wsp:Policy>
                            <sp:WssUsernameToken10 />
                          </wsp:Policy>
                        </sp:UsernameToken>
                      </wsp:Policy>
                    </sp:SignedSupportingTokens>
                    <sp:Wss11>
                      <wsp:Policy />
                    </sp:Wss11>
                    <sp:Trust10>
                      <wsp:Policy>
                        <sp:MustSupportIssuedTokens />
                        <sp:RequireClientEntropy />
                        <sp:RequireServerEntropy />
                      </wsp:Policy>
                    </sp:Trust10>
                  </wsp:Policy>
                </sp:BootstrapPolicy>
              </wsp:Policy>
            </sp:SecureConversationToken>
          </wsp:Policy>
        </sp:EndorsingSupportingTokens>
        <sp:Wss11 xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy />
        </sp:Wss11>
        <sp:Trust10 xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:MustSupportIssuedTokens />
            <sp:RequireClientEntropy />
            <sp:RequireServerEntropy />
          </wsp:Policy>
        </sp:Trust10>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="https://localhost:44300/Service/Impl/CocktailService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="https://localhost:44300/Service/Impl/CocktailService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="https://localhost:44300/Service/Impl/CocktailService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/CocktailizrTypes.Model.Entities" />
      <xsd:import schemaLocation="https://localhost:44300/Service/Impl/CocktailService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/System.Drawing" />
      <xsd:import schemaLocation="https://localhost:44300/Service/Impl/CocktailService.svc?xsd=xsd4" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ICocktailService_GetRandomCocktail_InputMessage">
    <wsdl:part name="parameters" element="tns:GetRandomCocktail" />
  </wsdl:message>
  <wsdl:message name="ICocktailService_GetRandomCocktail_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetRandomCocktailResponse" />
  </wsdl:message>
  <wsdl:message name="ICocktailService_GetCocktailsByName_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCocktailsByName" />
  </wsdl:message>
  <wsdl:message name="ICocktailService_GetCocktailsByName_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCocktailsByNameResponse" />
  </wsdl:message>
  <wsdl:message name="ICocktailService_GetCocktailById_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCocktailById" />
  </wsdl:message>
  <wsdl:message name="ICocktailService_GetCocktailById_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCocktailByIdResponse" />
  </wsdl:message>
  <wsdl:message name="ICocktailService_GetCocktailsByIndigrents_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCocktailsByIndigrents" />
  </wsdl:message>
  <wsdl:message name="ICocktailService_GetCocktailsByIndigrents_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCocktailsByIndigrentsResponse" />
  </wsdl:message>
  <wsdl:portType name="ICocktailService">
    <wsdl:operation name="GetRandomCocktail">
      <wsdl:input wsaw:Action="http://tempuri.org/ICocktailService/GetRandomCocktail" message="tns:ICocktailService_GetRandomCocktail_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICocktailService/GetRandomCocktailResponse" message="tns:ICocktailService_GetRandomCocktail_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCocktailsByName">
      <wsdl:input wsaw:Action="http://tempuri.org/ICocktailService/GetCocktailsByName" message="tns:ICocktailService_GetCocktailsByName_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICocktailService/GetCocktailsByNameResponse" message="tns:ICocktailService_GetCocktailsByName_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCocktailById">
      <wsdl:input wsaw:Action="http://tempuri.org/ICocktailService/GetCocktailById" message="tns:ICocktailService_GetCocktailById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICocktailService/GetCocktailByIdResponse" message="tns:ICocktailService_GetCocktailById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCocktailsByIndigrents">
      <wsdl:input wsaw:Action="http://tempuri.org/ICocktailService/GetCocktailsByIndigrents" message="tns:ICocktailService_GetCocktailsByIndigrents_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICocktailService/GetCocktailsByIndigrentsResponse" message="tns:ICocktailService_GetCocktailsByIndigrents_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WSHttpBinding_ICocktailService" type="tns:ICocktailService">
    <wsp:PolicyReference URI="#WSHttpBinding_ICocktailService_policy" />
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetRandomCocktail">
      <soap12:operation soapAction="http://tempuri.org/ICocktailService/GetRandomCocktail" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCocktailsByName">
      <soap12:operation soapAction="http://tempuri.org/ICocktailService/GetCocktailsByName" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCocktailById">
      <soap12:operation soapAction="http://tempuri.org/ICocktailService/GetCocktailById" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCocktailsByIndigrents">
      <soap12:operation soapAction="http://tempuri.org/ICocktailService/GetCocktailsByIndigrents" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CocktailService">
    <wsdl:port name="WSHttpBinding_ICocktailService" binding="tns:WSHttpBinding_ICocktailService">
      <soap12:address location="https://localhost:44300/Service/Impl/CocktailService.svc" />
      <wsa10:EndpointReference>
        <wsa10:Address>https://localhost:44300/Service/Impl/CocktailService.svc</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>