CocktailizrClient/Service References/CocktailServiceReference/CocktailService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="CocktailService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:19609/Service/Impl/CocktailService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:19609/Service/Impl/CocktailService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:19609/Service/Impl/CocktailService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Cocktailizr.Model.Entities" />
      <xsd:import schemaLocation="http://localhost:19609/Service/Impl/CocktailService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/System.Drawing" />
      <xsd:import schemaLocation="http://localhost:19609/Service/Impl/CocktailService.svc?xsd=xsd4" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ICocktailService_GetRandomCocktail_InputMessage">
    <wsdl:part name="parameters" element="tns:GetRandomCocktail" />
  </wsdl:message>
  <wsdl:message name="ICocktailService_GetRandomCocktail_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetRandomCocktailResponse" />
  </wsdl:message>
  <wsdl:message name="ICocktailService_GetCocktailsByName_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCocktailsByName" />
  </wsdl:message>
  <wsdl:message name="ICocktailService_GetCocktailsByName_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCocktailsByNameResponse" />
  </wsdl:message>
  <wsdl:message name="ICocktailService_GetCocktailsByIndigrents_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCocktailsByIndigrents" />
  </wsdl:message>
  <wsdl:message name="ICocktailService_GetCocktailsByIndigrents_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCocktailsByIndigrentsResponse" />
  </wsdl:message>
  <wsdl:portType name="ICocktailService">
    <wsdl:operation name="GetRandomCocktail">
      <wsdl:input wsaw:Action="http://tempuri.org/ICocktailService/GetRandomCocktail" message="tns:ICocktailService_GetRandomCocktail_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICocktailService/GetRandomCocktailResponse" message="tns:ICocktailService_GetRandomCocktail_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCocktailsByName">
      <wsdl:input wsaw:Action="http://tempuri.org/ICocktailService/GetCocktailsByName" message="tns:ICocktailService_GetCocktailsByName_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICocktailService/GetCocktailsByNameResponse" message="tns:ICocktailService_GetCocktailsByName_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCocktailsByIndigrents">
      <wsdl:input wsaw:Action="http://tempuri.org/ICocktailService/GetCocktailsByIndigrents" message="tns:ICocktailService_GetCocktailsByIndigrents_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICocktailService/GetCocktailsByIndigrentsResponse" message="tns:ICocktailService_GetCocktailsByIndigrents_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ICocktailService" type="tns:ICocktailService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetRandomCocktail">
      <soap:operation soapAction="http://tempuri.org/ICocktailService/GetRandomCocktail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCocktailsByName">
      <soap:operation soapAction="http://tempuri.org/ICocktailService/GetCocktailsByName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCocktailsByIndigrents">
      <soap:operation soapAction="http://tempuri.org/ICocktailService/GetCocktailsByIndigrents" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CocktailService">
    <wsdl:port name="BasicHttpBinding_ICocktailService" binding="tns:BasicHttpBinding_ICocktailService">
      <soap:address location="http://localhost:19609/Service/Impl/CocktailService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>